.log-in {
    display: flex;
    flex-direction: column;
    width: 420px;

    .title {
        margin: 6px 0;
    }

    .option {
        margin-top: 6px;

        .route {
            color: #F5D020;
            margin-left: 9px;
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}