.contact-details {
    align-items: center;
    display: flex;
    flex-direction: column;

    .details {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 30px;
        width: 600px;

        .info {
            margin: 21px;

            span {
                color: #20BF55;
            }
        }
    }
}