* {
    font-family: 'Lato';
    margin: 0;
}

body {
    background: #232526; 
    background: -webkit-linear-gradient(to left, #414345, #232526);  
    background: linear-gradient(to left, #414345, #232526); 
    color: #F5D020; 
    padding: 20px 60px;
}

a {
    color: #F5D020;
    text-decoration: none;
}