.checkout-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 51px auto;
    width: 60%;

    @media screen and (max-width: 800px) {
        width: 90%;
    }

    .checkout-header {
        border-bottom: 1px solid #20BF55;
        display: flex;
        justify-content: space-between;
        padding: 9px 0;
        width: 100%;

        .header-block {
            text-transform: capitalize;
            width: 23%;

            @media screen and (max-width: 800px) {
                width: 22%
                
                &:last-child {
                  width: 12%;
                }
            }
    
            &:last-child {
                width: 8%;
            }
        }
    }

    .total {
        font-size: 36px;
        margin-left: auto;
        margin-top: 30px;
    }
}