.categories {
    align-items: center;
    border: 1px solid #414141;
    display: flex;
    flex: 1 1 auto;
    height: 240px;
    justify-content: center;
    margin: 0 7.5px 15px;
    min-width: 30%;
    overflow: hidden;

    @media screen and (max-width: 800px) {
      height: 200px;
      min-width: 100%;
    }

    &:hover {
      cursor: pointer;

      .background-image {
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.24, 0.45, 0.45, 0.96);
      }

      .content {
        opacity: 0.9;
      }
    }

    .large {
      height: 339px;
    }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }

    .background-image {
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
    }
  
    .content {
      align-items: center;
      background: whitesmoke;  
      border: 1px solid #414141;
      display: flex;
      flex-direction: column;
      height: 90px;
      justify-content: center;
      opacity: 0.7;
      padding: 0 24px;
      position: absolute;

      @media screen and (max-width: 800px) {
        height: 80px;
      }
  
      .title {
        color: #414141;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 6px;
      }
  
      .subtitle {
        font-size: 15px;
        font-weight: lighter;
      }
    }
}