.header {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;

  .logo-container {
    height: 100%;
    margin-top: 30px;
    padding: 0 24px 24px 24px;
    width: 70px;

    .logo {
      height: 45px;
      width: 45px;
    }

    @media screen and (max-width: 800px) {
      width: 50px;
      padding: 0px;
    }
  }

  .search {
    border: 1px solid #414141;
    display: flex;
    height: 3vh;
    justify-content: flex-end;
    padding: 6px;
    width: 60vw;

    &:focus {
      outline: none;
    }

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  .options {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    width: 50%;

    .option {
      cursor: pointer;
      margin-right: 12px;
      padding: 9px 15px;

      &:hover {
        background-color: #414141;
        border-radius: 3rem;
        color: whitesmoke;
      }
    }

    @media screen and (max-width: 800px) {
      width: 100%;

      & .hidden {
        display: none;
      }
    }
  }

  @media screen and (max-width: 800px) {
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
  }
}
