.header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 100%;

    @media screen and (max-width: 800px) {
        hieight: 60px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .logo-container {
        height: 100%;
        margin-top: 12px;
        padding: 0 24px 24px 24px;
        width: 70px;

        @media screen and (max-width: 800px) {
            width: 50px;
            padding: 0px;
        }

        .logo {
            height: 45px;
            width: 45px;
        }
    }

    .options {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: flex-end;
        width: 50%;

        @media screen and (max-width: 800px) {
            width: 100%;

            & .hidden {
                display: none;
            }
        }

        .option {
            cursor: pointer;
            padding: 9px 15px;
        }
    }
}