.error-image-overlay {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  width: 100%;

  .error-image {
    background-size: cover;
    background-position: center;
    display: inline-block;
    height: 39vh;
    width: 39vh;
  }
  
  .error-image-text {
    color: #F5D020;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .error-image-description {
    color: #Ec9F05;
    font-size: 21px;
    width: 60%;
  }
}