* {
  margin: 0;
}

body {
  background: #f09819;
  background: -webkit-linear-gradient(to right, #f09819, #edde5d);
  background: linear-gradient(to right, #f09819, #edde5d);
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: #000000;
}
