.register {
    display: flex;
    flex-direction: column;
    width: 420px;

    .title {
        margin: 6px 0;
    }

    .option {
        margin: 6px 0;

        .route {
            color: #F5D020;
            margin-left: 9px;
        }
    }
}