.story{
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
    margin-right: 10px;
    transition: transform 100ms ease-in;
    cursor:pointer;
    
    

}
.story:hover{
    transform: scale(1.07);
}
.story__avatar{
    margin: 5px;
    border: 5px solid #2e81f2;
}
.story > h4{
    position: absolute;
    left: 7px;
    bottom: 20px;
    color: white;
}